.container {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464146;
    width: 30%;
    height: 75%;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
}

.exit {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    color: white;
}

.exit:hover {
    cursor: pointer;
}

.currPGN {
    font-family: 'Raleway', sans-serif;
}

.pgnLabel {
    color: white;
    font-size: 20px;
}

.pgnArea {
    background-color: #918B91;
    border: 3px solid #363336;
    resize: none;
    width: 340px;
    height: 440px;
    font-family: inherit;
    font-size: 20px;
    padding: 20px;
    outline: none;
    color: black;
    cursor: text;
}