.menuNav {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.navBtn {
    margin-top: 5px;
    padding: 0 12px;
    height: 100%;
    border: none;
    background-color: #302C30;
    color: white;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: 1px solid #1E1B1E;
}

.navBtn:hover {
    cursor: pointer;
    background-color: #1E1B1E;
}

.navBtnIcon {
    color: white;
    background: none;
    font-size: 20px;
    border: none;
    margin: 0 1px;
}

.navBtnIcon:hover {
    cursor: pointer;
}

.fakeBorder{
    height: 100%;
    background-color: #1C104E;
    width: 3px;
}

.evaluationNum {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 14px;

}

