.container {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464146;
    width: 30%;
    height: 65%;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
}

.exit {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    color: white;
}

.settingsForm {
    width: 100%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settingsItem {
    width: 75%;
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.settingsLabel {
    width: 50%;
}

.settingsInput {
    width: 50%;
}

.basicTextInput {
    padding: 4px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: inherit;
}

.submitSettings {
    margin-top: 18px;
}

.submitSettings button {
    padding: 12px 60px;
    border: none;
    background-color: #302C30;
    color: white;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: 1px solid #1E1B1E;
    border-radius: 4px;
}

.submitSettings button:hover {
    cursor: pointer;
    background-color: #1E1B1E;
}